h1{
    display: flex;
    justify-content: center;
    height: 10vh;
}

#infoContainer
{
    height: 20vh;
}

#convasContainer
{
    display: flex;
    justify-content: flex-end;
}

#drawingContainer
{
    background-color: rgba(100, 100, 100, 0.363);
    //width: 80vw;
    //height: 65vh;
}
