<div class="toolBar">
    <div class="title">
        Choix de l'outil
    </div>
    <div class="outilContainer">
        <div [ngClass]="{
            'active': activeTool === Tools.Select,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Select)">
            <img src="../../../assets/tools/select-window-svgrepo-com.svg" alt="Select arrow">
            <div class="outilTitle">Select</div>
        </div>
        <div [ngClass]="{
            'active': activeTool === Tools.Selection,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Selection)">
            <img src="../../../assets/tools/selection-plus-duotone-svgrepo-com.svg" alt="Square Select">
            <div class="outilTitle">Selection</div>
        </div>
        <div [ngClass]="{
            'active': activeTool === Tools.Draw,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Draw)">
            <img src="../../../assets/tools/pen-write-note-compose-svgrepo-com.svg" alt="Pen">
            <div class="outilTitle">Draw</div>
        </div>
        <div [ngClass]="{
            'active': activeTool === Tools.Line,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Line)">
            <img src="../../../assets/tools/line-svgrepo-com.svg" alt="Line">
            <div class="outilTitle">Line</div>
        </div>
        <div [ngClass]="{
            'active': activeTool === Tools.Box,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Box)">
            <img src="../../../assets/tools/square-box-empty-rect-wrapper-round-shape-svgrepo-com.svg" alt="Box">
            <div class="outilTitle">Box</div>
        </div>
        <div [ngClass]="{
            'active': activeTool === Tools.Circle,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Circle)">
            <img src="../../../assets/tools/circle-svgrepo-com.svg" alt="Circle">
            <div class="outilTitle">Circle</div>
        </div>
        <div [ngClass]="{
            'active': activeTool === Tools.Triangle,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Triangle)">
            <img src="../../../assets/tools/triangle-svgrepo-com.svg" alt="Triangle">
            <div class="outilTitle">Triangle</div>
        </div>
        <div [ngClass]="{
            'active': activeTool === Tools.Eraser,
            'outilCard': true
        }" (click)="setActiveTool(Tools.Eraser)">
            <img src="../../../assets/tools/eraser-svgrepo-com.svg" alt="Eraser">
            <div class="outilTitle">Erase</div>
        </div>
    </div>
</div>