@import '../../../../styles/global.scss';

:host {
    div {
        position: relative;
        .inputTools {
            margin-left: 5%;
            width: 70%;
            margin-bottom: 10px;
            padding: 2% 2% 2% 15%;
            @include themed() {
                background: t($third-color);
                color: t($base-text-color);
            }
            font-size: 0.9rem;;
            border: none;
            outline: none;
            border-radius: 10px;
        }
    
        img {
            position:absolute;
            left: 8%;
            top: 16%;
            width: 8%;
            filter: invert(66%) sepia(4%) saturate(2432%) hue-rotate(189deg) brightness(82%) contrast(86%);
        }
    }
}
