<div class="navBar">
    <div class="topContainer">

    </div>
    <div class="itemContainer">
        <i class="fa-sharp fa-solid fa-files"></i>
        <i class="fa-sharp fa-solid fa-sliders-up"></i>
        <i class="fa-sharp fa-solid fa-rectangle-vertical-history"></i>
        <i class="fa-sharp fa-solid fa-gears"></i>
    </div>
    <div class="bottomContainer">
        <img src="https://thispersondoesnotexist.com"/>
        <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
        <fa-icon [icon]="faRightFromBracket"></fa-icon>
    </div>
</div>
