<div class="drawPage">
  <div class="fileInfosContainer">
    <img class="logo" src="../../../assets/img/Angular_Illustrator_Logo.png" />
    <div class="fileInfos">
      <div class="filePath">Projects / Angular Illustrator</div>
      <div class="fileTitle">Test Dessin</div>
    </div>
    <div></div>
  </div>
  <div class="drawContainer">
    <app-tool-bar
      class="toolBarContainer"
      (update)="updateActiveTool($event)"
    ></app-tool-bar>
    <app-drawing-zone
      class="drawZoneContainer"
      [activeTool]="activeTool"
      [backgroundColor]="drawZoneBackgroundColor"
      [colorFillShape]="drawFillColor"
      [colorStrokeShape]="drawStrokeColor"
    ></app-drawing-zone>
    <app-option-bar
      class="optionBarContainer"
      (updateBackgroundColor)="updateDrawZoneBackgroundColor($event)"
      (updateFillColor)="updateFillColor($event)"
      (updateStrokeColor)="updateStrokeColor($event)"
    ></app-option-bar>
  </div>
</div>
