<div class="drawPage">
  <div class="fileInfosContainer">
    <img class="logo" src="../../../assets/img/Angular_Illustrator_Logo.png" />
    <div class="fileInfos">
      <div class="filePath">Projects / Angular Illustrator</div>
      <div class="fileTitle">{{ fileName }}</div>
    </div>
    <div></div>
  </div>
  <div class="drawContainer">
    <app-tool-bar
      class="toolBarContainer"
      (update)="updateActiveTool($event)"
    ></app-tool-bar>
    <app-drawing-zone
      class="drawZoneContainer"
      [activeTool]="activeTool"
      [colorFillShape]="drawFillColor"
      [colorStrokeShape]="drawStrokeColor"
      [thickness]="drawThickness"
      [(shapeList)]="shapeList"
    ></app-drawing-zone>

    <app-option-bar
      class="optionBarContainer"
      (updateFileName)="updateFileName($event)"
      (updateFillColor)="updateFillColor($event)"
      (updateStrokeColor)="updateStrokeColor($event)"
      (updateThickness)="updateThickness($event)"
      [shapeList]="shapeList"
      (updateShapeList)="updateShapeList($event)"
    ></app-option-bar>
  </div>
</div>
