<div class="drawPage">
    <div class="fileInfosContainer">
        <div class="fileInfos">
            <div class="filePath">Projects / E-Commerce App / Task</div>
            <div class="fileTitle">Checkout & Payment User Flow</div>
        </div>
        <div>

        </div>
    </div>
    <div class="drawContainer">
        <app-tool-bar class="toolBarContainer"  (update)="updateActiveTool($event)"></app-tool-bar>
        <app-drawing-zone class="drawZoneContainer" [activeTool]="activeTool" [backgroundColor]="drawZoneBackgroundColor"></app-drawing-zone>
        <app-option-bar class="optionBarContainer" (updateBackgroundColor)="updateDrawZoneBackgroundColor($event)"></app-option-bar>
    </div>
</div>